# STM32CubeIDE build outputs
Debug/
Release/

# Eclipse workspace metadata
.metadata/

# Temporary files
*.log
*.tmp
*~

# KiCad temporary / local files
**/fp-info-cache
**/*.kicad_prl
**/*-backups/
**/*.lck